<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{agencia.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/agencias/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{agencia.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${agencia.id == null} ? @{/agencias/salvar} : @{/agencias/editar}"
				th:object="${agencia}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{agencia.nome.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" autofocus="autofocus"
							th:field="*{nome}" th:placeholder="#{agencia.nome.label}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{agencia.cnpj.label}" for="CNPJ"></label> 
						<input type="text" class="form-control" id="CNPJ" autofocus="autofocus"
							th:field="*{CNPJ}" placeholder="__.___.___/____-__"
							th:readonly="${agencia.id != null}"
							data-mask="00.000.000/0000-00" data-mask-reverse="true"
							th:classappend="${#fields.hasErrors('CNPJ')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{CNPJ}"></span>
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{usuario.email.label}" for="email"></label> 
						<input type="email" class="form-control" id="email" autofocus="autofocus"
							th:field="*{email}" th:placeholder="#{usuario.email.label}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{usuario.password.label}" for="senha"></label> 
						<input type="password" class="form-control" id="senha" autofocus="autofocus"
							th:field="*{senha}"
							th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{senha}"></span>
						</div>
					</div>
				</div>

				<div class="input-group">
                    <label class="input-group-text" th:text="#{agencia.descricao.label}" for="descricao"></label>
                    <textarea class="form-control" aria-label="With textarea" id="descricao" maxlength="256"
                           th:placeholder="#{agencia.descricao.placeholder}" th:field="*{descricao}"
                           th:classappend="${#fields.hasErrors('descricao')} ? is-invalid"></textarea>
                    <div class="invalid-feedback">
                        <span th:errors="*{descricao}"></span>
                    </div>
                </div>
				<br>

				<input type="hidden" id="papel" name="papel" value="AGENCIA" />
				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>
