<!DOCTYPE html>
<html layout:decorate="~{layout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{proposta.listar.label}"></span>
					</li>
				</ul>
				<a class="btn btn-primary btn-md" sec:authorize="hasRole('ROLE_CLIENTE')"
				th:href="@{/propostas/cadastrar}" role="button"> 
					<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> 
					<span th:text="#{proposta.cadastrar.label}"></span>
				</a>
			</div>
		</nav>
		
		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{pacote.destino.label}"></th>
							<th th:text="#{pacote.agencia.label}"></th>
							<th th:text="#{pacote.dataPartida.label}"></th>
							<th th:text="#{proposta.valor.label}"></th>
							<th th:text="#{proposta.status.label}"></th>
							<th th:text="#{proposta.excluir.label}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="proposta : ${propostas}">
							<td th:text="${proposta.id}"></td>
							<td th:text="${proposta.pacote.destino}"></td>
							<td th:text="${proposta.pacote.agencia.nome}"></td>
							<td th:text="${proposta.pacote.dataPartida}"></td>
							<td th:text="|R$ ${#numbers.formatDecimal(proposta.valor,2,2,'COMMA')}|"></td>
							<th th:text="${proposta.statusProposta == 1} ? 'Ativo' : 'Cancelado'"></th>
							<td>
								<button th:id="${#strings.concat('btn_propostas/excluir/',proposta.id)}" 
										type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal"
										th:if="${proposta.statusProposta == 1}" th:disabled="${!proposta.isPropostaRemovable()}">
									<span class="oi oi-circle-x" th:title="#{link.excluir.label}" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
